:root {
    --stratos: #00065b;
    --white: #fff;
    --white-lilac: #e8e8e8;
}

.button {
    border: 1px solid transparent;
    padding: 10px 85px;
    border-radius: 30px;
    box-shadow: 0px 4px 5px var(--white-lilac);
}

.type-primary {
    background: var(--stratos);
    color: var(--white);
}

.type-secondary {
    background: transparent;
    color: var(--stratos);
    border: 1px solid var(--stratos);
}
